/* FONTS */
$main-font-oswald: "Oswald", sans-serif;
$second-font-lato: "Lato", sans-serif;

/* COLORS */
$dark-color: #000000;
$white-color: #ffffff;

$basic-grey-color: #f2f2f2;
$special-grey-first-color: #cdcdcd;
$special-grey-second-color: #ebebeb;
$special-grey-third-color: #eaeaea;
$grey-text-color: #444444;
$grey-text-second-color: #222222;
$basic-green-color: #68b738;
