/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/container.scss";
@import "./blocks/button.scss";
@import "./blocks/main-title.scss";
@import "./blocks/second-title.scss";
@import "./blocks/main-text.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/process.scss";
@import "./blocks/example.scss";
@import "./blocks/contact.scss";
@import "./blocks/catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/additional.scss";
@import "./blocks/promotion.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/social.scss";
@import "./blocks/footer.scss";
