.contact__container {
  position: relative;
}

.contact__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  padding: 26px 0;
  background-color: $white-color;

  @media (min-width: $tablet-width) {
    grid-template-columns: 165px 165px;
    justify-content: space-between;
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    grid-template-columns: 163px 157px;
    column-gap: 87px;
    padding: 60px 78px 60px 80px;
  }
}

.contact__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contact__address {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contact__street,
.contact__city {
  margin: 0;
  line-height: 20px;
  font-style: normal;
}

.contact__map-wrapper {
  height: 362px;
  background-image:
    image-set(
      url("../../images/map/map-mobile@1x.jpg") type("image/png") 1x,
      url("../../images/map/map-mobile@2x.jpg") type("image/png") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image:
      image-set(
        url("../../images/map/map-tablet@1x.jpg") type("image/png") 1x,
        url("../../images/map/map-tablet@2x.jpg") type("image/png") 2x
      );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/map/map-desktop@1x.jpg") type("image/png") 1x,
        url("../../images/map/map-desktop@2x.jpg") type("image/png") 2x
      );
  }
}
