.example {
  background: $special-grey-third-color;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $special-grey-third-color 42%, $white-color 42%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to top, $special-grey-third-color 77%, $white-color 77%);
  }
}

.example__stat-count {
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stat-text {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__cost-text,
.example__cost-price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example__result {
  position: relative;
  z-index: 1;
}

.example__result-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 2px solid $icons-color;
  cursor: pointer;
  border-radius: 50%;
  background-color: $white-color;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 4px;
    height: 256px;
    background-color: $icons-color;
    border-radius: 2px;
  }
}
