.footer {
  padding: 40px 0;
  background-color: $basic-grey-color;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__logo {
  align-self: center;
}

.footer__academy-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &::after {
    content: "";
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#html-academy-logo");
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: $icons-color;
  }
}

.footer__academy-logo-text {
  font-family: $second-font-lato;
  font-size: 16px;
  line-height: 20px;
  color: $grey-text-color;
}
