.footer {
  padding: 40px 0;
  background-color: $basic-grey-color;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  height: 24px;
  align-self: center;
}

.footer__academy-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 100%;
  max-width: 320px;

  &::after {
    content: "";
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#html-academy-logo");
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: $icons-color;
  }

  @media (min-width: $tablet-width) {
    gap: 23px;
    width: auto;
  }
}

.footer__academy-logo-text {
  font-family: $second-font-lato;
  font-size: 16px;
  line-height: 20px;
  color: $grey-text-color;
}
