.hero {
  background-color: rgba($basic-green-color, 0.85);

  @media (min-width: 768px) {
    background-color: $white-color;
  }

  @media (min-width: 1440px) {
    background-color: rgba($basic-green-color, 0.85);
  }
}

.hero__title {
  color: $white-color;
  line-height: 36px;

  @media (min-width: 768px) {
    color: $dark-color;
  }
}

.hero__text {
  font-size: 14px;
  line-height: 14px;
  color: $white-color;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    color: $dark-color;
  }
}

.hero__link {
  display: block;
  text-decoration: none;
  color: $white-color;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}
