.hero {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
    padding-bottom: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    height: 302px;

    background-image:
      linear-gradient(rgba($basic-green-color, 0.85) 100%, $basic-green-color),
      image-set(
        url("../../images/backgrounds/hero-background-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/backgrounds/hero-background-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/backgrounds/hero-background-mobile@1x.jpg") type("image/png") 1x,
        url("../../images/backgrounds/hero-background-mobile@2x.jpg") type("image/png") 2x
      ),
      linear-gradient(to right, #525157 50%, #434248 50%);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      inset: 0 0 0 auto;

      display: block;
      width: 50%;
      height: 695px;

      background-image:
        linear-gradient(rgba($basic-green-color, 0.85) 100%, $basic-green-color),
        image-set(
          url("../../images/backgrounds/hero-background-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/backgrounds/hero-background-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/backgrounds/hero-background-desktop@1x.jpg") type("image/png") 1x,
          url("../../images/backgrounds/hero-background-desktop@2x.jpg") type("image/png") 2x
        ),
        linear-gradient(to right, #525157 50%, #434248 50%);
      background-position: left;
    }
  }
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;

  text-align: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 90px 420px auto;
    grid-template-rows: auto auto 29px auto;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 80px 368px 60px 1fr;
    grid-template-rows: 81px auto auto auto auto;
  }
}

.hero__title {
  grid-row: 1 / 2;
  margin: 0;
  margin-bottom: 25px;

  line-height: 36px;
  color: $white-color;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin-bottom: 40px;

    line-height: 60px;
    color: $dark-color;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}

.hero__text {
  grid-row: 2 / 3;
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 14px;
  color: $white-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    margin-bottom: 21px;

    font-size: 20px;
    line-height: 20px;
    color: $dark-color;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-bottom: 52px;
  }
}

.hero__link {
  grid-row: 4 / 5;
  display: block;

  color: $white-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    padding: 14px 26px;
    max-width: 244px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 4 / 5;
  }
}

.hero__img-wrapper {
  grid-row: 3 / 4;

  @media (min-width: $tablet-width) {
    z-index: -1;

    grid-column: 1 / -1;
    grid-row: 3 / 6;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 5;
    grid-row: 1 / -1;
  }
}
