.process__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.process__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;

  &--compound::before,
  &--form::before,
  &--meal::before,
  &--time::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $basic-green-color;
  }

  &--compound::after,
  &--form::after,
  &--meal::after,
  &--time::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
  }

  &--compound::after {
    width: 30px;
    height: 32px;
    background-image: url("../../icons/stack.svg#process-compound-icon");
  }

  &--form::after {
    width: 26px;
    height: 28px;
    background-image: url("../../icons/stack.svg#process-form-icon");
  }

  &--meal::after {
    width: 25px;
    height: 30px;
    background-image: url("../../icons/stack.svg#process-meal-icon");
  }

  &--time::after {
    width: 26px;
    height: 31px;
    background-image: url("../../icons/stack.svg#process-time-icon");
  }
}

.process__text {
  max-width: 200px;
  margin: 0;
}
