.product-card {
  --pseudo-margin: 23px;
  --pseudo-size: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content 18px min-content;
  padding: 20px 20px 25px;

  @media (min-width: $tablet-width) {
    --pseudo-margin: 50px;
    --pseudo-size: 60px;
    grid-template-columns: 1fr;
    grid-template-rows: max-content min-content 1fr min-content;
    padding: 12px 37px 40px;
    background: linear-gradient(to top, $basic-grey-color calc(100% - 81px), $white-color calc(100% - 81px));
  }

  @media (min-width: $desktop-width) {
    --pseudo-margin: 38px;
  }

  &--show-more {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 81px);
    width: 100%;
    padding: 25px 0;

    &::before {
      content: "";
      margin-bottom: var(--pseudo-margin);
      width: var(--pseudo-size);
      height: var(--pseudo-size);
      background-image: url("../../icons/stack.svg#plus-icon");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (min-width: $tablet-width) {
      justify-content: flex-end;
      padding: 50px 37px 40px;
      background: transparent;
      border: 2px solid $basic-grey-color;
    }
  }
}

.product-card__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    justify-self: center;
    width: 200px;
    height: 210px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
    width: 169px;
    height: 210px;
  }
}

.product-card__img {
  @media (min-width: $desktop-width) {
    width: 161px;
    height: 172px;
  }

  &--size-big {
    @media (min-width: $desktop-width) {
      width: 172px;
      height: 196px;
    }
  }
}

.product-card__link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.product-card__title {
  max-width: 70%;
  margin: 0;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $grey-text-second-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    max-width: 55%;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    max-width: 100%;
  }

  &--show-more {
    margin-bottom: 8px;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }
  }
}

.product-card__show-more-text {
  margin: 0;
  margin-bottom: 21px;
  font-family: $second-font-lato;
  font-size: 12px;
  line-height: 16px;
  color: $grey-text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    max-width: 90%;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.product-card__properties {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    gap: 7px;
    margin-bottom: 32px;
  }
}

.product-card__properties-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: $special-grey-first-color;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.product-card__properties-name,
.product-card__properties-value {
  font-family: $second-font-lato;
  font-size: 12px;
  line-height: 16px;
  color: $grey-text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__order-link {
  display: block;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-row: 4 / 5;
  }

  &--show-more {
    width: 100%;
    max-width: 280px;
    color: $grey-text-color;
    background-color: $basic-grey-color;
  }
}
