.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  color: $grey-text-second-color;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__properties-name,
.product-card__properties-value {
  font-size: 12px;
  line-height: 16px;
  color: $grey-text-color;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__order-link {
  display: block;
  text-decoration: none;
}
