.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 58px;
  text-align: center;
  background-color: rgba($basic-green-color, 0.85);

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#promotion-gift-icon");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.promotion__text {
  margin: 0;
  font-family: $second-font-lato;
  font-size: 16px;
  line-height: 20px;
  color: $white-color;
}
