.subscribe {
  overflow: hidden;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 80px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 0 104px;
  }
}

.subscribe-title {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.subscribe__content {
  @media (min-width: $tablet-width) {
    padding: 0 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__text {
  margin: 0;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 752px;
  }
}

.subscribe__input {
  width: 100%;
  padding: 13px;

  font-family: $main-font-oswald;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;

  border-radius: 0;
  outline: 1px solid $border-color-second;
  outline-offset: -2px;
  transition: outline 0.3s;

  &:hover {
    outline: 1px solid $special-grey-first-color;
  }

  &:focus {
    outline: 2px solid $grey-text-color;
  }

  &:user-invalid {
    outline: 2px solid $error-color;
  }
}

.subscribe__button {
  width: 100%;
  padding: 15px 10px;

  font-family: $main-font-oswald;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 256px;
  }
}
